---
import HeaderLink from "./HeaderLink.astro";
import { NAV_ITEMS } from "../../consts";
import { SITE_TITLE } from "../../consts";
---

<header class="navbar bg-base-100">
  <div class="navbar-start">
    <a class="btn btn-ghost normal-case text-xl" href="/">{SITE_TITLE}</a>
  </div>
  <div class="navbar-end z-50">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path></svg
        >
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content gap-2 mt-3 p-2 shadow bg-base-100 rounded-box"
      >
        {
          NAV_ITEMS.map((navItem) => {
            return (
              <li>
                <HeaderLink href={navItem.href} external={navItem.external}>
                  {navItem.name}
                </HeaderLink>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</header>
