---
---

<h1 class="text-4xl font-extrabold text-white sm:text-8xl">
    Hi, I&apos;m <span class="text-pink-500">Atridad</span>
</h1>

<h2 class="text-2xl font-extrabold tracking-tight text-white sm:text-[2rem]">
    I&apos;m a <span class="text-green-500">persian</span> -
    <span class="text-red-500">canadian</span>{" "}
    <span
        class="bg-gradient-to-r from-pink-500 to-blue-500 bg-clip-text text-transparent"
    >
        queer
    </span>{" "}
    software developer who loves making things for the web.
</h2>

<h2 class="text-xl font-extrabold tracking-tight text-white sm:text-[1.5rem]">
    Pronouns: (<span class="text-cyan-500">he</span>/<span
        class="bg-gradient-to-r from-pink-500 to-blue-500 bg-clip-text text-transparent"
    >
        they
    </span>)
</h2>
