---
export interface Props {
	title: string;
	date: Date;
	slug: string;
}

import FormattedDate from "./FormattedDate.astro";

const { title, date, slug } = Astro.props;
---

<div class="card card-compact w-64 bg-primary shadow-xl">
	<div class="card-body text-base-100">
		<h2 class="card-title text-base-100">{title}</h2>
		<FormattedDate date={date} dark={false} />
		<div class="card-actions justify-end">
			<button class="btn btn-base-100">
				<a href={`/blog/${slug}/`}>Read</a>
			</button>
		</div>
	</div>
</div>
